
/* ===========================
   GOOGLE FONT
=========================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

/* ===========================
      TOP BAR
=========================== */

.topbar{

    background:#0D47A1;
    color:#fff;
    font-size:14px;
    padding:3px 0;

}

.contact-info{

    display:flex;
    gap:30px;

}

.contact-info span{

    display:flex;
    align-items:center;
    gap:8px;

}

.topbar a{

    color:white;
    margin-left:18px;
    font-size:18px;
    transition:.3s;

}

.topbar a:hover{

    color:#ff9800;

}

/* ===========================
      FIXED HEADER
=========================== */

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: #fff;
    box-shadow: 0 4px 20px rgba(0,0,0,.08);
}

.navbar{
    position: relative;
    background: #fff !important;
    padding: 14px 0;
}
.navbar-brand{

    display:flex;
    align-items:center;

}

.logo{

    width:65px;
    height:65px;
    object-fit:cover;

}

.navbar-brand h4{
    font-size:22px;
    font-weight:700;
    color:#0D47A1;
    margin-bottom:2px;
}

.navbar-brand small{
    color:#ff9800;
    font-weight:500;
    font-size:14px;
}

/* ===========================
      NAV LINKS
=========================== */

.navbar-nav{

    gap:10px;

}

.nav-link{

    position:relative;
    color:#1e293b !important;
    font-weight:600;
    padding:10px 16px !important;
    transition:.3s;

}

.nav-link:hover{

    color:#0D47A1 !important;

}

/* underline animation */

.nav-link::after{

    content:"";
    position:absolute;
    left:50%;
    bottom:0;
    width:0;
    height:3px;
    background:#ff9800;
    transition:.3s;

}

.nav-link:hover::after{

    width:70%;
    left:15%;

}

/* active menu */

.nav-link.active{

    color:#0D47A1 !important;

}

.nav-link.active::after{

    width:70%;
    left:15%;

}

/* ===========================
      USER ICON
=========================== */

.user-icon{
    width:48px;
    height:48px;
    border:none;
    border-radius:50%;
    /* background:linear-gradient(135deg,#0D47A1,#1976D2); */
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    box-shadow:0 8px 20px rgba(13,71,161,.25);
    transition:.35s ease;
}

.user-icon i{
    font-size:22px;
}

.user-icon:hover{
    transform:translateY(-3px) scale(1.08);
    box-shadow:0 12px 25px rgba(13,71,161,.4);
    /* background:linear-gradient(135deg,#1565C0,#42A5F5); */
}

/* ===========================
      PROFILE BUTTON
=========================== */

.profile-btn{

    border:none;

    padding:10px 22px;

    border-radius:40px;

    background:linear-gradient(135deg,#7faaea,#1565C0);

    color:#fff;

    font-weight:600;

    transition:.35s;

    box-shadow:0 8px 20px rgba(13,71,161,.25);

}

.profile-btn:hover{

    transform:translateY(-3px);

    background:linear-gradient(135deg,#1565C0,#42A5F5);

    box-shadow:0 12px 30px rgba(13,71,161,.4);

}

/* ===========================
      NOTIFICATION
=========================== */

.notification{

    width:48px;
    height:48px;
    border-radius:50%;
    background:#f2f4f8;
    position:relative;
    border:none;

}

.notification i{

    font-size:22px;
    color:#0D47A1;

}

.notification .badge{

    position:absolute;
    top:4px;
    right:2px;
    font-size:10px;

}

/* ===========================
      DROPDOWN
=========================== */



.dropdown-item{

    padding:13px 18px;

    display:flex;

    align-items:center;

    gap:12px;

    border-radius:12px;

    transition:.3s;

    font-weight:500;

}

.dropdown-item i{

    color:#0D47A1;

    font-size:18px;

}

.dropdown-item:hover{

    background:#0D47A1;

    color:#fff;

    transform:translateX(5px);

}

.dropdown-item:hover i{

    color:#fff;

}

/* ===========================
      GLASS DROPDOWN
=========================== */

.dropdown-menu{

    min-width:220px;

    margin-top:12px;

    border:none;

    border-radius:18px;

    background:rgba(255,255,255,.85);

    backdrop-filter:blur(16px);

    -webkit-backdrop-filter:blur(16px);

    box-shadow:0 15px 35px rgba(0,0,0,.15);

    overflow:hidden;

    animation:dropdown .35s ease;

}

/* ===========================
      MOBILE MENU
=========================== */

.offcanvas{

    width:280px;

}

.offcanvas-header{

    background:#0D47A1;
    color:white;

}

.offcanvas .nav-link{

    padding:15px 5px !important;
    border-bottom:1px solid #eee;

}

.offcanvas .nav-link:hover{

    padding-left:15px !important;

}

/* ===========================
      NAVBAR TOGGLER
=========================== */

.navbar-toggler{

    border:none;
    font-size:30px;

}

.navbar-toggler:focus{

    box-shadow:none;

}

/* ===========================
      STICKY EFFECT
=========================== */

.sticky-top{

    z-index:999;

}

/* ===========================
      TABLET
=========================== */

@media(max-width:991px){

.topbar{

display:none;

}

.navbar{

padding:10px 0;

}

.logo{
    width:55px;
    height:55px;
    object-fit:cover;
}

.navbar-brand h4{

font-size:20px;

}

.navbar-brand small{

font-size:12px;

}

}

/* ===========================
      MOBILE
=========================== */

@media(max-width:576px){

.logo{
    width:55px;
    height:55px;
}

.navbar-brand h4{
    font-size:22px;
    margin-bottom:2px;
}

.navbar-brand small{
    font-size:14px;
}

.navbar{

padding:8px 0;

}

.profile-btn{

width:100%;

}

.notification{

display:none;

}

}

/* ===========================
      SMOOTH
=========================== */

html{

scroll-behavior:smooth;

}

/* ===========================
      HEADER TOP
=========================== */

.header-top{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:6px 0;
}

.header-right{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    gap:12px;
}

/* ===========================
      HEADER MENU
=========================== */

.header-menu{
    width:100%;
    border-top:1px solid #ececec;
    margin-top:8px;
    padding-top:6px;
}

.header-menu .navbar-nav{
    width:100%;
    justify-content:center;
    gap:18px;
}

.header-menu .nav-link{
    font-size:16px;
    font-weight:600;
}

@keyframes dropdown{

0%{

opacity:0;

transform:translateY(20px) scale(.95);

}

100%{

opacity:1;

transform:translateY(0) scale(1);

}

}
/* ===========================
   MOBILE RESPONSIVE HEADER
=========================== */

@media (max-width:991px){

    /* Top Bar Hide */
    .topbar{
        display:none;
    }

    /* Header Top */
    .header-top{
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:10px 0;
    }

    /* Logo */
    .logo{
        width:45px;
        height:45px;
    }

    /* Heading */
    .navbar-brand h4{
        font-size:16px;
        margin-bottom:2px;
    }

    .navbar-brand small{
        font-size:10px;
    }

    /* Desktop Menu Hide */
    .header-menu{
        display:none !important;
    }

    /* Desktop Right Hide */
    .header-right{
        display:none !important;
    }

    /* Mobile User + Menu */
    .user-icon{
        width:42px;
        height:42px;
    }

    .navbar-toggler{
        border:none;
        background:none;
        font-size:30px;
        color:#0D47A1;
        padding:0;
    }

    .navbar-toggler:focus{
        box-shadow:none;
    }
 
    .d-lg-none{
    display:flex;
    align-items:center;
    gap:10px;
}

     .navbar-brand{
        max-width:70%;
    }

    .navbar-brand h4{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size:16px;
    }

    .navbar-brand small{
        font-size:10px;
    }

}




